.header-block {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    text-align: center;
}

.image-header {
    width: 120dvw;
    height: 56dvh;
    object-fit: cover;
    animation: scrollImage 60s infinite linear;
}
@keyframes scrollImage {
    0% {object-position: 0px; opacity: 0;}
    1% {opacity: 1;}
    100% {object-position: calc(-10dvw);opacity: 0;}
    99% {opacity: 1;}
}

.header-block > h1 {
    margin: 8rem auto 6rem;
    font-size: 2rem;
}


.search-div {
    top: 14rem;
    display: flex;
    background-color: white;
    box-shadow: 0 0 5px gray;
    border-radius: 10px;
    padding: 1rem;
    min-width: 60%;
    position: absolute;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    z-index: 2;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    text-align: left;
}

.input-container > p{
    padding-left: .5rem;
    color: rgb(73, 73, 73);
    font-size: .85rem;
}

.search-div button {
    background-color: var(--cmain);
    padding: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    color: white;
    border-radius: 7px;
}